*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
}

@keyframes slideleft{
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}

h1{
  font-weight: 800;
  text-align: center;
 margin-bottom: 5%;
  
}
.logos-slide{
  display: inline-block;
  animation: 25s slideleft infinite linear;
}

.logos{
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  margin-bottom:15px;
  margin-bottom: linear-gradient(90deg, white, rgba(255, 255, 255, 0), white);
}

.logos::before{
  position: absolute;
  top: 0;
  width:250px;
  height: 100%;
  background: linear-gradient(to left,rgba(255, 255, 255, 0), white);
  content:" ";
  z-index: 2;

}

.logos::after{
  position: absolute;
  top: 0;
  right: 0;
  width:250px;
  height: 100%;
  background: linear-gradient(to right,rgba(255, 255, 255, 0), white);
  content:" ";
  z-index: 2;
}



.logos-slide img{
  height: 70px;
  margin: 0 40px;
}

.profile{
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

@keyframes slideright{
  from{
    transform: translateX(-100%);
  }

  to{
    transform: translateX(0);
  }
}

.profile-slide{
  display: inline-block;
  animation: 20s slideright infinite linear;
}



.profile::before{
  position: absolute;
  top: 0;
  width:250px;
  height: 100%;
  background: linear-gradient(to left,rgba(255, 255, 255, 0), white);
  content:" ";
  z-index: 2;

}

.profile::after{
  position: absolute;
  top: 0;
  right: 0;
  width:250px;
  height: 100%;
  background: linear-gradient(to right,rgba(255, 255, 255, 0), white);
  content:" ";
  z-index: 2;
}


.profile-slide img{
  height: 250px;
  margin: 0 40px;
}